*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    background-image: url(./assets/gradient-bg.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
    display: grid;
    place-items: center;
}
.game-info{
    color:white;
    position:absolute;
    top:3rem;
    left:50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255,0.15);
    border-radius: 1rem;
    border:1px solid rgb(255, 255, 255,0.25);
    padding: 0.5rem 3rem;
    text-align: center;
}
.tic-tack-toe{
    width:90%; /*to its parent element */
    max-width: 20rem;
    background-color: rgb(255, 255, 255,0.15);
    border-radius: 1rem;
    border:1px solid rgb(255, 255, 255,0.25);
    padding:2rem;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    aspect-ratio: 1/1;
    margin: 90px 0px 0px 0px;
}
.box{
    position: relative;
    width:100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
.box1 ,.box2, .box4, .box5{
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}
.box3, .box6{
    border-bottom: 2px solid white;
}
.box7, .box8{
    border-right: 2px solid white;
}
.btn{
    color:white;
    position:absolute;
    bottom:3rem;
    left:50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255,0.15);
    border-radius: 1rem;
    border:1px solid rgb(255, 255, 255,0.25);
    padding: 0.5rem 3rem;
    text-align: center;
    cursor: pointer;
    display:none;
}
.btn.active{
    display:flex;
}
.win{
    background-color: rgba(0, 255, 0, 0.3);
}